### Above combination will ignore all files without extension ###

# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore Makefile
!*Makefile
###################################################################

# ignore files with extension
*.o
*.d
*.pro
*.pro.user
*.pro.user.*
*.bin
*.elf
*.hex
*~

# ignore folder
node_modules/
bin/
*/bin/*
config/
ipch/

# Ignorez tous les fichiers de compilation de python
*.pyc
__pycache__
settings.json
tmp